:root {
    --primary-color: #2e1717;
    --secondary-color: #0c40a0;
    --accent1-color: #12521b;
    --accent2-color: #fffea7;
    --heading-font: Verdana, Arial sans-serif;
    --body-font: 'Trebuchet MS', Tahoma, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
    color: var(--primary-color);
}

header {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 300px auto;
    border: solid black;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--accent2-color);
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: solid black;
    margin: auto;
    padding: 15px;
    background-color: white; 
}

header nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
}

header img {
    justify-self: center;
    border: solid black;
}

footer {
    margin-top: 50px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

footer p {
    text-align: center;
    width: 100%;
    position: absolute;
    left: 0;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
    background-color: var(--secondary-color);
    text-align: center;
    padding: 10px;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

address {
    text-align: center;
    padding: 5px;
    margin: 5px;
    font-weight: bold;
}

iframe {
    width: 100%;
    height: 350px;
}

form {
    margin-top: 10px;
    font-weight: 900;
}

.history {
    margin: 5px;
    display: grid;
    grid-template-columns: 343px 125px 343px;
    grid-template-rows: repeat(6, 30px);
    border: solid black;
}

.history h2 {
    grid-column: 2/3;
    grid-row: 1/3;
    align-self: center;
}

.history img {
    grid-column: 2/3;
    grid-row: 3/6;
    align-self: flex-end;
}

.adventure, .employees{
    border: solid black;
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    justify-items: center;
}

.adventure h2, .employees h2 {
    grid-column: 1/-1;
    grid-row: 1/2;
}

.adventure img {
    margin-top: 10px;
}

.adventure figcaption, .employees figcaption {
    justify-self: center;
    align-self: center;
    text-align: center;
}

.socialmedia {
    position: absolute;
    right: 0;
    display: flex;
    gap: 10px;      
}

.socialmedia img {
    width: 40px;
    height: auto;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff; /* white text - check contrast with background */
}

.hero article {
    position: absolute;
    width: 96.5%;
    padding: 3px;
    text-align: center;
    top: 400px;
    background-color: rgba(255, 254, 167, .7);
}

.hero article img {
    float: right;
    width: 125px;
    border: 2px solid black;
    margin: 10px;
    box-shadow: 0 0 30px gray;
}

.employees {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.employees img {
    display: grid;
    margin-top: 10px;
    width: 150px;
    justify-self: center;
    align-self: center;
}

.employees figcaption {
    font-size: .8rem;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-item {
    display: grid;
    align-items: center;
}

.column2 {
    grid-template-columns: 1fr 3fr;
    margin: 5px;
}

.radio-group {
    margin: 10px 0;
    border: none;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: start;
    gap: 10px
}

.radio-group h3 {
    grid-column: 1;
    margin: 0;
    font-size: 1rem;
    align-self: center;
}

.options {
    display: grid;
    grid-column: 2;
    gap: 5px;
}

.options label {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 5px;
    gap: 5px;
}

.message {
    margin: 15px 0;
    display: grid;
}

.checkbox label {
    margin: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
}

button {
    margin: 15px 0;
    width: 100%;
    height: 40px;
    font-size: 1.3rem;
}