:root {
    --primary-color: #2e1717;
    --secondary-color: #0c40a0;
    --accent1-color: #12521b;
    --accent2-color: #fffea7;
    --heading-font: Verdana, Arial sans-serif;
    --body-font: 'Trebuchet MS', Tahoma, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

footer img {
    width: 50px;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    text-align: center;
    padding: 10px;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;

}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff; /* white text - check contrast with background */
}

.hero article {
    position: absolute;
    width: 96.5%;
    padding: 3px;
    text-align: center;
    top: 400px;
    background-color: rgba(255, 254, 167, .7)
;
}

.hero article img {
    float: right;
    width: 125px;
    border: 2px solid black;
    margin: 10px;
    box-shadow: 0 0 30px gray;
}