:root {
    --background-color: lightpink;
    --text-color: black;
    --border: 1px solid black;
}


nav {
    background-color: var(--background-color);
    padding: 10px;
}

nav a {
    color: var(--text-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--text-color);
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 300px;
    margin: 10px;
    border: var(--border);
    padding: 10px;
    background-color: var(--background-color);
    color: var(--text-color);
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 10px;
    border-top: 2px dotted black;
    text-align: center;
}